body .is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
  max-width: var(--wp--style--global--wide-size) !important;
}

.services-block {
  --theme-color: #007cba;
  --spacing: 15px;
  --spacing-n: -15px;
  padding-left: var(--spacing);
  padding-right: var(--spacing);
  * {
    box-sizing: border-box;
  }
  .services-row {
    margin: 0 var(--spacing-n);
    display: flex;
    flex-wrap: wrap;
  }
  @for $i from 1 through 6 {
    &.has-#{$i}-cols {
      .service-item {
        --width: 100%;
        max-width: var(--width);
        flex: 0 0 var(--width);
        @if $i >= 2 {
          @media all and (min-width: 576px) {
            --width: calc(100% / 2);
          }
        }
        @if $i >= 3 {
          @media all and (min-width: 992px) {
            --width: calc(100% / 3);
          }
        }
        @if $i >= 4 {
          @media all and (min-width: 1200px) {
            --width: calc(100% / #{$i});
          }
        }
      }
    }
  }
}

.service-item {
  padding: 0 var(--spacing);
  margin-bottom: var(--spacing);
}

.service-img-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 55%;
}

.service-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100% !important;
  object-fit: cover;
  object-position: center;
}

.service-name {
  padding: .7em .5em !important;
  font-weight: 600;
  margin: 0;
  background-color: var(--theme-color);
  color: #fff !important;
  display: block;
}